.Weather {
  border: 1px solid #dadde1;
  font-family: Arial, Helvetica, sans-serif;
  color: #878787;
  padding: 16px;
  border-radius: 4px;
}

.button {
  width: 100%;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.temperature-container {
  display: flex;
  align-items: flex-start;
}

.temperature-container canvas {
  margin-right: 5px;
  margin-top: 5px;
}

.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  display: flex;
  align-items: center;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  font-size: 22px;
  align-self: flex-start;
}
